
<div >
    <div class="well hoverwell thumbnail py-3 my-3">
        <div > USER ID : {{guarddata?.userId}} </div>
        <div>GUARD TRAINIE NAME : {{guarddata?.name | titlecase}} </div>
      <!--  <div>DATE : {{guarddata?.date | titlecase}} </div>
        <div>MOBILE NO : {{guarddata?.mobileNo | titlecase}} </div>
        <div>STATUS : {{guarddata?.status | titlecase}} </div>
        <div>TIMEING : {{guarddata?.timeing | titlecase}} </div> -->
        <div>
            <span> <button [class]=buttonStyle (click)="on_click1()" (click)="onButtonClick()" [routerLink]="['/navbar/guard-management/GuardTraining/userId',guarddata.userId]"> View Details</button></span>
        </div>
  
        <!--
        <div>
        <span> <button [class]=buttonStyle (click)="onButtonClick()" [routerLink]="['/navbar/guard-management/GuardTraining/name',guarddata.name]"> View By Name</button></span>
    </div>   -->
    </div>
  </div>
